<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
</head>
<body>
  <%- include('partials/_navbar') %>

  <h1>Custom Template</h1>
  <p>My name is <%= username %></p>
  <p>My age is <%= age %></p>
  <p>My special message is <%= message %></p>
  
</body>
</html>