<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
</head>
<body>
  <%- include('partials/_navbar') %>
  
  <p1>My name is <%= user.name%></p1>
  <p1>My age is <%= user.age%></p1>
  <p1>My profession is <%= user.profession%></p1>
  
</body>
</html>