<header>
    <h1>Web Server 101</h1>
    <nav>
        <ul>
            <h2>You are logged in as <%= username %></h2>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Create a User</a></li>
        </ul>
    </nav>
</header>